.section-mision-vision{
    width: 40%;
    height:20px ;
    position: absolute;
    top: 200px;
}
#section-mision{
    left: 4%;
}
#section-vision{
    left: 55%;
}
section p{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}
section label{
    font-size: 17px;
}