#section-valores {
  position: relative;
  top: 60px;
  width: 80%;
  height: 450px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  }
#info-valores{
    height: 250px;
    width: 50%;
  
    font-size: 26px;
    top: 20%;
}
@media screen and (max-width:800px){
  #section-valores{
    top: 0;
  }
  #info-valores {
    height: 100%;
    width: 100%;
    font-size: 17px;
    top: 40px;
    position: relative;
    
  }
}