<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Centro de Formaci&oacute;n Integral Providencia | Inicio</title>
    <!-- para video institucional  -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- tipo de letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/contacto.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
</head>
<body>

<header >

<nav role="navigation" id="navbar" >
    <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
   <ul id="menu">
         <li class="lista-menus">
            <a href="index.html" class="boton-menu">Inicio</a>
             <div class="border-lineal"></div>
        </li>
       
        <li class="lista-menus">
            <a role="button" class="boton-menu" id="nosotros">Sobre nosotros</a>
            
            <ul class="lista-sub-menus" id="lista-sobrenosotros">
                <li >
                    <a href="historia.html" class="redirrecion-pages">Historia</a>
                    <a href="equipo.html" class="redirrecion-pages">Equipo</a>
                    <a href="valores.html" class="redirrecion-pages">Valores</a>
                    <a href="mision_vision.html" class="redirrecion-pages">Misiòn y visiòn</a>
                </li>
            </ul>
            <div class="border-lineal"></div> 
        </li>

        <li class="lista-menus"> 
            <a role="button"  class="boton-menu " id="unidades">Unidades de negocio</a>
            <div class="border-lineal"></div>
            <ul class="lista-sub-menus" id="lista-unidades">
                <li >
                    <a href="proteger.html" class="redirrecion-pages">ProTejer</a>
                    <a href="renueva.html" class="redirrecion-pages">Renueva</a>
                    <a href="forma.html" class="redirrecion-pages">Forma</a>
                    <a href="talleres-industriales.html" class="redirrecion-pages"> Talleres Industriales</a>
                </li>
            </ul>
        </li>

        <li class="lista-menus">
            <a role="button" class="boton-menu" id="obrasocial">Obra social</a>
            <div class="border-lineal"></div>
            <ul class="lista-sub-menus" id="lista-obrasocial">
                <li >
                    <a href="colegio.html" class="redirrecion-pages">Colegio</a>
                    <a href="providencia.html" class="redirrecion-pages">Providencia</a>
                </li>
            </ul>
        </li>
        <li class="lista-menus">
            <a role="button" class=" boton-menu" href="contactenos.html">Contacto</a>
            <div class="border-lineal"></div>
        </li>

    </ul>
    
    <figure id="contenedor-logoPrincipal" href="contactenos.html"><img  src="../assets/img/logoOficial.png" alt="" id="logoPrincipal"></figure> 
    <div id="idioma-container">
            <a href="index.html" class="bandera"> <img src="../assets/img/banderas/iconColombia.png" /></a>

            <a href="contactenos.html" class="bandera"> <img src="../assets/img/banderas/iconUsa.png" /> </a>
    </div>
    
</nav>
   
</header>
<main id="contenedor-doom">

   <section id="section-contacto">
    <article id="article-1">
        <div>
            <p>Tienes una consulta, necesitas más información o quieres
                saber más sobre lo que hacemos?. Puedes contactarnos
                directamente a través de los siguientes medios o completar
                el formulario a continuación para enviarnos un mensaje. Nos
                aseguraremos de responderte lo antes posible.</p>

            <p>Correo electrónico : xxxx@providenciacfi.com</p>

            <p>Telefono celular : xxx-xxxx</p>

            <p>Dirección : Km 34 Vía Central Cali - El Cerrito,
                corregimiento El Placer</p>

            <p>Horarios de Atención: lunes a viernes, de 7:00 a.m. a 4:00
                p.m.</p>

        </div>
    </article>

    <article id="article-2">
        <form action="prose-form.php" method="post" id="formulario_contacto">

            <input type="text" name="nombre" placeholder="Nombre" class="input_contacto">

            <input type="text" name="correo" placeholder="Correo electronico" class="input_contacto">

            <input type="text" name="tel" placeholder="Telefono" class="input_contacto">

            <textarea  id="descripcion-contacto" name="mensaje" placeholder="Descripción" class="input_contacto"></textarea>

            <button type="submit" value="Enviar" id="button-enviar-contacto">ENVIAR</button>
        </form>
    </article>
   </section>
    
    
</main>
<footer id="footer">
    <section id="footer-top">
        <a href="proteger.html" >ProTejer</a>
        <a href="renueva.html" >Renueva</a>
        <a href="forma.html" >Forma</a>
        <a href="talleres-industriales.html" > Talleres Industriales</a>
   </section>
 
   <section id="footer-center">
    <article>
        <figure id="logoPrincipal2">
            <img src="../assets/img/logocfipblanco.png" alt="Providencia - Centro de Formación Integral"> 
        </figure>
    </article>

    <article>
        <h2>Ubicación</h2>
        <h2>Km 34 Via Central Cali - El Cerrito, corregimiento El Placer</h2>
        <h2>PBX: (57)(2) 255 5221 FAX: (57)(2) 255 51 40</h2>
    </article>
   </section>

    <section id="footer-bottom">  
        <p>
            © Aviso de privacidad, Términos y condiciones. Todos los derechos reservados.
        </p>
        <div id="contenedor-iconos">
            <a href="https://www.instagram.com/providencia.cfi/"><i class="fa-brands fa-instagram"></i> </a>
            <a href="https://api.whatsapp.com/send?phone=573142526163&text=Hola%2C%20%C2%BFc%C3%B3mo%20est%C3%A1s%3F%20Estoy%20buscando%20dotaci%C3%B3n%20y%20prendas%20de%20moda%2C%20%C2%BFtienes%20algo%20disponible%3F%20%F0%9F%9B%8D%EF%B8%8F">
                <i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
    </section>
</footer>

<script src="/assets/js/main.js"></script>

<script async>
    (function(w, d) { var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script");
    s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://app.bluecaribu.com/conversion/integration/eb4ae45110e2b750dfa0f19525dfcb77");
    h.appendChild(s); })(window, document);
</script>

</body>
</html>