<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/footer.css">
    
    <!-- link de iconos -->
    <script src="https://kit.fontawesome.com/c33decd863.js" crossorigin="anonymous"></script>
</head>
<body>
    
        <footer>
            <div id="footer-top">
                <a href="#">Inicio</a>
                <a href="#">Sobre nosotros</a>
                <a href="#">Unidades de negocio</a>
                <a href="#">Obra social</a>
                <a href="#">Contacto</a>
           </div>
         
            <figure id="logoPrincipal2">
                <img src="../assets/img/logocfipblanco.png" alt="Providencia - Centro de Formación Integral"> 
            </figure>
           </div>
            
        
            <div id="footer-bottom">  
                <p>
                    © Aviso de privacidad, Términos y condiciones. Todos los derechos reservados.
                </p>
                <div id="contenedor-iconos">
                    <a href="https://www.instagram.com/providencia.cfi/"><i class="fa-brands fa-instagram"></i> </a>
                    <a href="https://api.whatsapp.com/send?phone=573142526163&text=Hola%2C%20%C2%BFc%C3%B3mo%20est%C3%A1s%3F%20Estoy%20buscando%20dotaci%C3%B3n%20y%20prendas%20de%20moda%2C%20%C2%BFtienes%20algo%20disponible%3F%20%F0%9F%9B%8D%EF%B8%8F">
                        <i class="fa-brands fa-whatsapp"></i></a>
                    <a href="#"><i class="fa fa-user-check"></i></a>
                </div>
                
            </div>
        </footer>
 
</body>
</html>