<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integral Training Center Providencia |shape </title>

    <!-- typography -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- script to reduce institutional video size -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- css call -->
    <link rel="stylesheet" href="/assets/css/unidades-de-negocio.css">
    <link rel="stylesheet" href="/assets/css/global.css">
</head>

<body>

    <header>
        <nav role="navigation" id="navbar">
            <div class="menu-toggle" id="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul id="menu">
                <li class="lista-menus">
                    <a href="/index-ingles.html" class="boton-menu">Home</a>
                    <div class="border-lineal"></div>
                </li>
                <li class="lista-menus">
                    <a role="button" class="boton-menu" id="nosotros">About Us</a>
                    <ul class="lista-sub-menus" id="lista-sobrenosotros">
                        <li>
                            <a href="historia-ingles.html" class="redirrecion-pages">History</a>
                            <a href="equipo-ingles.html" class="redirrecion-pages">Team</a>
                            <a href="valores-ingles.html" class="redirrecion-pages">Values</a>
                            <a href="mision_vision-ingles.html" class="redirrecion-pages">Mission and Vision</a>
                        </li>
                    </ul>
                    <div class="border-lineal"></div>
                </li>
                <li class="lista-menus">
                    <a role="button" class="boton-menu" id="unidades">Business Units</a>
                    <div class="border-lineal"></div>
                    <ul class="lista-sub-menus" id="lista-unidades">
                        <li>
                            <a href="proteger-ingles.html" class="redirrecion-pages">ProTejer</a>
                            <a href="renueva-ingles.html" class="redirrecion-pages">Renueva</a>
                            <a href="forma-ingles.html" class="redirrecion-pages">Forma</a>
                            <a href="talleres-industriales-ingles.html" class="redirrecion-pages">Industrial Workshops</a>
                        </li>
                    </ul>
                </li>
                <li class="lista-menus">
                    <a role="button" class="boton-menu" id="obrasocial">Social Work</a>
                    <div class="border-lineal"></div>
                    <ul class="lista-sub-menus" id="lista-obrasocial">
                        <li>
                            <a href="colegio-ingles.html" class="redirrecion-pages">Providencia School</a>
                        </li>
                    </ul>
                </li>
                <li class="lista-menus">
                    <a role="button" class="boton-menu" href="contactenos-ingles.html">Contact Us</a>
                    <div class="border-lineal"></div>
                </li>
            </ul>
            <figure id="contenedor-logoPrincipal">
                <a href="/index-ingles.html">
                    <img src="/assets/img/logos/logoOficial.png" alt="Integral Training Center Providencia" id="logoPrincipal">
                </a>
            </figure>
            <div id="idioma-container">
                <a href="/index-ingles.html" class="bandera">
                    <img src="/assets/img/banderas/iconColombia.png" alt="Spanish Language">
                </a>
                <a href="contactenos-ingles.html" class="bandera">
                    <img src="/assets/img/banderas/iconUsa.png" alt="English Language">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <section class="section-unidad" id="forma">
            <article class="article-unidad-1">
                <label>Forma is dedicated to training for work and human development. Ofrecemos 15 programas técnicos laborales, educación continua y programas de formación para adultos y jóvenes. Our courses and diplomas are registered with the Departmental Secretary of Education, guaranteeing quality and recognition.</label>
            </article>
    
            <article class="article-unidad-2" >
                 <figure class="figure-unidad">
                    <img src="/assets/img/unidades-negocio/Forma.jpg" alt="proceso Forma">
                 </figure>
                </article>
          </section>
     
    </main>

  
    <footer id="footer">

        <section id="footer-top">

            <a href="proteger-ingles.html">ProTejer</a>

            <a href="renueva-ingles.html">Renueva</a>

            <a href="forma-ingles.html">Forma</a>

            <a href="talleres-industriales-ingles.html">Industrial Workshops</a>

        </section>

        <section id="footer-center">

            <article>

                <figure id="logoPrincipal2">
                    <img src="/assets/img/logos/logocfipblanco.png" alt="Providencia - Integral Training Center">
                </figure>

            </article>

            <article>

                <h2>Location</h2>

                <h2>Km 34 Central Cali - El Cerrito, El Placer district</h2>

                <h2>PBX: (57)(2) 255 5221 FAX: (57)(2) 255 51 40</h2>

            </article>
        </section>

        <section id="footer-bottom">

            <p>© Privacy Notice, Terms and Conditions. All rights reserved.</p>

            <div id="contenedor-iconos">

                <a href="https://www.instagram.com/providencia.cfi/">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://api.whatsapp.com/send?phone=573142526163&text=Hello%2C%20how%20are%20you%3F%20I'm%20looking%20for%20clothing%20and%20fashion%20items%2C%20do%20you%20have%20anything%20available%3F%20%F0%9F%9B%8D%EF%B8%8F">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="https://www.linkedin.com/company/providencia-centro-de-formacion-integral-proteje-y-renueva/mycompany/?viewAsMember=true">
                    <i class="fa-brands fa-linkedin"></i>
                </a>

            </div>

        </section>
    </footer>

    <script src="/assets/js/main.js"></script>
</body>

</html>
